/*--FONTS--*/
$nunito:		'Nunito', Arial, sans-serif;
$nunitolight:	'Nunito-ExtraLight', Arial, sans-serif;
$ptsans:		'PTSans', Arial, sans-serif;
$roboto: 		'Roboto', Arial, sans-serif;
$allura: 		'Allura', Arial, sans-serif;
$raleway:  		'Raleway', Arial, sans-serif;
$ralewaybold:  	'Raleway-Bold', Arial, sans-serif;
$rosamarena:  	'RosaMarena', Arial, sans-serif;
$andada:  		'Andada', Arial, sans-serif;
$badscript:   'Bad Script', Arial, sans-serif;
$lato:        'Lato', Arial, sans-serif;

/*--COLORS--*/
$white:		 #ffffff;
$black:		 #333333;

/*--MAIN PAGE--*/
$darkblue:	 #000033;
$lightblue:	 #33ccff;
$lightgreen: #33cc66;
$orange:	 #fc8a41;
$darkorange: #f65725;
$lightgray:	 #eeeeee;
$pink:		 #ff0076;
$purple:	 #d50edf;
$backblue:	 #eff2f9;

/*--DEVELOPMENT--*/
$devbgcolor: #1b438c;





